DB_URL=jdbc:mysql://localhost:3306/bionote?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
DB_USERNAME=bionote
DB_PASSWORD=bionote
JWT_SECRET=change-this-development-secret-to-at-least-32-characters
JWT_EXPIRATION_SECONDS=7200
FILE_STORAGE_ROOT=./storage
CORS_ALLOWED_ORIGINS=http://localhost:5173
SEED_ENABLED=true
